link(rel='stylesheet', href='stylesheets/categories.css')
link(rel='stylesheet', href='stylesheets/card.css')

table
  tr
    td
      h2(style="margin-top: 0; padding-top: 0") Choose a Category...
      div(class="flex-container categories")

script(type="text/javascript").

  var categories = triviaManager.getCategories();
  for (var i = 0; i < categories.length; i++) {
    var cat = categories[i];
    $('.categories').append('<p class="card" id="' + cat.id + '">' + cat.name + '</p>');
  }

  addSubscription(
    castReceiverManager.onMessages()
      .subscribe(function (message) {
        const senderId = message.senderId;
        const type = message.type;
        const sendingUser = userManager.getParticipant(senderId);
        switch (type) {
          case 'select-category':
            if (!sendingUser.host) {
              castReceiverManager.sendError(senderId, 'Only the host can select a category.');
              return;
            }
            const categoryId = message.id;
            if (!categoryId) {
              castReceiverManager.sendError(senderId, 'You must specify a category ID.');
            } else {
              console.log(`Category ${categoryId} was selected.`);
              window.location.href = `?category=${categoryId}#trivia`;
            }
            break;
        }
      }));

  $(document).ready(function () {
    castReceiverManager.broadcast('select-category');
  });