link(rel='stylesheet', href='stylesheets/gameover.css')

table
  tr
    td
      img(src="images/logo.png", alt="trifles logo", width="104px")
      h1 Game Over!
      hr
      div#participants

script(type="text/javascript").
  var participants = window.userManager.getParticipants();
  for (var i = 0; i < participants.length; i++) {
    var user = participants[i];
    $('#participants').append('<p><b>' + user.nickname + '</b>: ' + user.score + ' points</p>');
  }

  addSubscription(
    window.castReceiverManager.onMessages()
      .subscribe(function (message) {
        const senderId = message.senderId;
        const type = message.type;
        const sendingUser = window.userManager.getParticipant(senderId);
        switch (type) {
          case 'finish':
            if (!sendingUser.host) {
              window.castReceiverManager.sendError(senderId, 'Only the host can restart the game.');
              return;
            }
            window.location.href = '/receiver';
            break;
        }
      }));

  $(document).ready(function () {
    window.castReceiverManager.broadcast('game-over');
  });