link(rel='stylesheet', href='stylesheets/splash.css')

table
  tr
    td
      img(src="images/logo.png", alt="trifles logo", width="104px")
      h1 Welcome to Trifles
      p The party trivia game for your Google Cast-enabled devices!
      hr
      p.small-text Waiting for players to join...
      img(src="/images/cast.svg", alt="cast icon")
  tr
    td
      ul#splashParticipants

script(type="text/javascript").

  function renderParticipants(participants) {
    var participantsView = $('#splashParticipants');
    participantsView.empty();
    for (var i = 0; i < participants.length; i++) {
      var user = participants[i];
      participantsView.append('<li>' + user.nickname + '</li>');
    }
  }

  addSubscription(
    window.userManager.onParticipants()
      .subscribe(function (users) { renderParticipants(users); }));

  console.log('Splash is listening for messages.');
  addSubscription(
    window.castReceiverManager.onMessages()
      .subscribe(function (message) {
        const senderId = message.senderId;
        const type = message.type;
        const sendingUser = window.userManager.getParticipant(senderId);
        console.log(`Splash got message: ${type}`);
        switch (type) {
          case 'start-game':
            if (sendingUser.host !== true) {
              window.castReceiverManager.sendError(senderId, 'Only the host can ready up the game.');
              return;
            }
            window.userManager.resetScores();
            window.location.hash = '#categories';
            break;
          case 'join':
            if (!message.nickname || message.nickname.replace(' ', '') === '') {
              window.castReceiverManager.sendError(senderId, 'Nickname cannot be empty.');
              return;
            }
            window.userManager.updateNickname(senderId, message.nickname);
            console.log(`${message.nickname} has joined.`);
            window.castReceiverManager.sendMessage(sendingUser, sendingUser.host ? 'hosting' : 'joined');
            break;
        }
      }));