div
  h2 Hi, <span id="nicknameSpan"></span>!
  p You are hosting. You can start the game when you and your guests are ready.
  button(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored", style="margin-top: 3%")#startGame.
    Start Game

script(type="text/javascript").
  $('#nicknameSpan').text(myNickname);

  var startGameButton = $('#startGame');
  startGameButton.click(function (e) {
    e.preventDefault();
    startGameButton.attr('disabled', 'disabled');
    castSenderManager.sendMessage('start-game');
  });

  addSubscription(
    castSenderManager.onMessages()
      .subscribe(function (message) {
        const type = message.type;
        switch (type) {
          case 'select-category':
            window.location.hash = '#selectcategory';
            break;
          case 'error':
            startGameButton.removeAttr('disabled');
            break;
        }
      }));