doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="//www.gstatic.com/cv/js/sender/v1/cast_sender.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/rxjs/2.5.2/rx.all.js")
    script(src="/scripts/services/settings.js")
    script(src="/scripts/spa.js")

    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")

    meta(content="width=device-width, initial-scale=1.0, user-scalable=no", name="viewport")
    meta(content="#03A9F4", name="theme-color")

  body
    nav
      .nav-wrapper
        a(href="#").brand-logo Trifles
    .container
      #spaContainer