h2 Select a Category
div(style="margin-top: 2%")#categoriesList

script(type="text/javascript").

  var categoriesList = $('#categoriesList');
  categoriesList.empty();
  categoriesList.find('button').unbind('click');

  var categories = triviaManager.getCategories();
  for (var i = 0; i < categories.length; i++) {
    var cat = categories[i];
    categoriesList.append('<button class="mdl-button mdl-js-button mdl-button--raised ' +
      'mdl-js-ripple-effect mdl-button--accent category-option" id="' + cat.id + '">' + cat.name + '</button>');
  }

  $('.category-option').click(function (e) {
    e.preventDefault();
    $('.category-option').prop('disabled', true);
    castSenderManager.sendMessage({
      type: 'select-category',
      id: $(this).attr('id')
    });
  });
  componentHandler.upgradeDom();

  addSubscription(
    castSenderManager.onMessages()
      .subscribe(function (message) {
        const type = message.type;
        switch (type) {
          case 'game-started':
            window.location.hash = '#trivia';
            break;
          case 'error':
            $('.category-option').prop('disabled', false);
            break;
        }
      }));