div(style="margin-top: 2%")#answerList

script(type="text/javascript").

  var answerList = $('#answerList');

  function hookClicks() {
    $('.answer-option').click(function (e) {
      e.preventDefault();
      $('.answer-option').attr('disabled');
      castSenderManager.sendMessage({
        type: 'guess',
        guess: $(this).text()
      });
    });
  }

  function showAnswers(answers) {
    answerList.find('button').unbind('click');
    answerList.empty();
    for (var i = 0; i < answers.length; i++) {
      var ans = answers[i];
      answerList.append('<button class="mdl-button mdl-js-button mdl-button--raised ' +
        'mdl-js-ripple-effect mdl-button--accent answer-option">' + ans + '</button>');
    }
    hookClicks();
    componentHandler.upgradeDom();
  }

  addSubscription(
    castSenderManager.onMessages()
      .subscribe(function (message) {
        const type = message.type;
        switch (type) {
          case 'answers':
            showAnswers(message.answers);
            break;
          case 'times-up':
            // noinspection JSJQueryEfficiency
            $('.answer-option').attr('disabled');
            break;
          case 'error':
            // noinspection JSJQueryEfficiency
            $('.answer-option').removeAttr('disabled');
            break;
        }
      }));