h2 What's the answer?
div(style="margin-top: 2%")#answerList

div(style="display: none")#isHosting
  hr
  button(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary answer-option")#endGame.
    End Game

script(type="text/javascript").

  var answerList = $('#answerList');

  if (isHosting) {
    $('#isHosting').show();
    $('#endGame').click(function (e) {
      e.preventDefault();
      $('.answer-option').prop('disabled', true);
      $(this).prop('disabled', true);
      castSenderManager.sendMessage('end-game');
    });
  }

  function hookClicks() {
    $('.answer-option').click(function (e) {
      e.preventDefault();
      $('.answer-option').prop('disabled', true);
      castSenderManager.sendMessage({
        type: 'guess',
        guess: $(this).text()
      });
    });
  }

  function showAnswers(answers) {
    answerList.find('button').unbind('click');
    answerList.empty();
    for (var i = 0; i < answers.length; i++) {
      var ans = answers[i];
      answerList.append('<button class="mdl-button mdl-js-button mdl-button--raised ' +
        'mdl-js-ripple-effect mdl-button--accent answer-option">' + ans + '</button>');
    }
    hookClicks();
    componentHandler.upgradeDom();
  }

  addSubscription(
    castSenderManager.onMessages()
      .subscribe(function (message) {
        const type = message.type;
        switch (type) {
          case 'answers':
            showAnswers(message.answers);
            break;
          case 'times-up':
            // noinspection JSJQueryEfficiency
            $('.answer-option').prop('disabled', true);
            break;
          case 'game-over':
            window.location.hash = '#gameover';
            break;
          case 'error':
            // noinspection JSJQueryEfficiency
            $('.answer-option').prop('disabled', false);
            break;
        }
      }));