div
  h2 Hi, <span id="nicknameSpan"></span>!
  p#waitingText You have joined the game. Please wait for <span id="hostNickname"></span> to start the game.

script(type="text/javascript").
  $('#nicknameSpan').text(myNickname);

  addSubscription(
    castSenderManager.onMessages()
      .subscribe(function (message) {
        const type = message.type;
        switch (type) {
          case 'select-category':
            $('#waitingText').text('Waiting for the host to choose a category.');
            break;
        }
      }));