div
  h2 Hi, <b><span id="nicknameSpan"></span></b>!
  p#waitingText You have joined the game. Please wait for <b><span id="hostNickname"></span></b> to start the game.

script(type="text/javascript").
  $('#nicknameSpan').text(myNickname);
  $('#hostNickname').text(hostNickname);

  addSubscription(
    castSenderManager.onMessages()
      .subscribe(function (message) {
        const type = message.type;
        switch (type) {
          case 'select-category':
            $('#waitingText').html('Waiting for <b>' + hostNickname + '</b> to choose a category.');
            break;
          case 'game-started':
            window.location.hash = '#trivia';
            break;
        }
      }));