doctype html
html
  head
    title Trifles - Error
    meta(content="width=device-width, initial-scale=1.0, user-scalable=no", name="viewport")
    meta(content="#03A9F4", name="theme-color")

  body
    table
      tr
        td
          p= error